*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background: black;
    color: white;
    overflow-x: hidden !important;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color:#8876ea;
    border-radius: 10px;
}
.background-academia{
    background:  url(https://img.freepik.com/fotos-premium/homem-treinando-em-uma-academia_186382-6651.jpg?w=2000),
    rgb(0,0,0,0.4);
    background-blend-mode: darken;
    top: 0;
    left: 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
a{
    color: white;
}
.header{
    padding: 22px;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
ul{
    list-style: none;
}
.items-nav{
    display: flex;
    gap: 2rem;
}
.items-nav a{
    text-decoration: none;
    font-family: 'poppins';
    position: relative;
    
}
.items-nav a::after{
    content: "  ";
    position: absolute;
    bottom: 0;
    left: 0;
    background:#8876ea;
    width: 0px;
    height: 2px;
    transition:.5s ease-in-out ;
    margin: -2px;
}
.items-nav a:hover::after{
    width: 100%;
}
.items-nav-mobile{
    position: fixed;
    bottom: 0;
    width: 100%;
    background:black;
    height: 50px;
    display: none;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
}
.items-mobile{
    display: flex;
    gap: 2rem;
    color: white;
}
.items-nav-mobile h1{
    font-family: 'poppins';
    font-size: 13px;
}
.items-mobile a{
    text-decoration: none;
    font-family: 'poppins';
    font-size: 14px;
}
.items-nav-mobile a:hover{
    color: #8876ea;
    transition: .5s;
}
@media(max-width:600px){
    .items-nav{
        display: none;
    }
    .items-nav-mobile{
        display: flex;
    }
}

@media(min-width:200px) and (max-width:400px){
    .items-nav-mobile h1{
        font-family: 'poppins';
        font-size: 11px;
    }
    .items-mobile a{
        text-decoration: none;
        font-family: 'poppins';
        font-size: 12px;
    }
}
.btn-right{
    display: flex;
    justify-content: space-evenly;
}
.btn-lateral{
    background: transparent;
    border: 0;
    position: relative;
}
.btn-lateral::after{
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    background: #8876ea;
    width: 0%;
    height: 1px;
    transition: .5s ease-in-out;
}
.btn-lateral:hover::after{
    width: 100%;
}

.btn-bars div{
    display: block;
    width: 32px;
    height: 2px;
    background: white;
    margin: 5px;
    cursor: pointer;
}
.btn-bars div:nth-child(2){
    width: 25px;
}
.btn-bars div:nth-child(3){
    width: 20px;
}
.bar-lateral{
    display: none;
    width: 250px;
    height: 100vh;
    background: linear-gradient(#8876ea,#8876ea80) ;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    animation: BarsAnimation .5s ease-out forwards;
}
@keyframes BarsAnimation{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
.lateral-container{
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 22px;
}
.close{
    color: red;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}
.weight{
    background: white;
    width: 22px;
    height: 2px;
    rotate: 50deg;
    position: absolute;
}
.weight-2{
    position: relative;
    background: white;
    width: 22px;
    border-radius: 10px;
    height: 2px;
    rotate:130deg;
}
.card-lateral{
    flex-direction: column;
    margin-bottom: 20px;
}
.card-img{
    width: 120px;
}
.card-lateral h1{
    font-family: 'poppins';
    font-size: 16px;
}
.btn-card{
    background: transparent;
    border: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
    font-family: 'poppins';
    border-radius:10px 0px ;
    background:#f4f4f4;
    width: 150px;
    height: 40px;
    cursor: pointer;
}
.line{
    background: white;
    width: 100%;
    height: 3px;
}
.card-lateral:nth-child(4){
    margin-top: 40px;
}
.pagina-card{
    text-decoration: none;
    color: black;
    background: #f4f4f4;
    padding: 1rem  3rem;
    margin-top: 20px;
    border-radius: 4px;    
    font-size: 14px;
    font-family: 'poppins';
    border: 1px solid black;
    box-shadow: 0px 5px 10px 5px black;
}
.pagina-card:hover{
    transition: .5s;
  background: #8876ea;
  color: white;
}
section.home{
    margin: 15rem auto;
    padding: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.home p{
    font-size: 8rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    line-height: 106px;
    margin-top: -60px;
    font-family: 'poppins';
}
.home .peso{
    position: absolute;
    overflow: hidden;
}
.peso{
    width: 700px;
    height: auto;
    rotate: 330deg;
    margin-top: -40px;
    overflow: hidden;
}
.home-links{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -200px;
    margin-left: 200px;
}
.home-container{
    display: flex;
    gap: 3rem;
}
.home-container a{
    text-decoration: none;
    font-family: 'poppins';
    text-transform: uppercase;
    background: #8876ea;
    padding: 1rem;
    border-radius: 0px 10px 10px;
    border: 1px solid black;
}
@media(max-width:760px){
    .home p{
        font-size: 6rem;
    }
    .home-container a{
        font-size:14px;
    }
}
@media (min-width:200px) and (max-width:500px){
    .home p{
        font-size: 17vw;
    }
    .home-container a{
        font-size:2.6vw;
    }
    .home-links{
        margin-left: 120px;
    }
    .home-container{
        gap: 1rem;
        flex-direction: column;
        margin-bottom: 32px;
        margin-top: -50px;
    }
    .peso{
        width: 110vw;
        rotate:320deg;
    }
    section.home{
        margin: 9rem auto;
        padding: 0 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .home-links{
        flex-direction: column;
        line-height:3;
    }
}
@media(max-width:600px){
    .home p{
        font-size: 17vw;
    }
    .home-container a{
        font-size:2.6vw;
    }
    .home-links{
        margin-left: 120px;
    }
    .home-container{
        display: flex;
        gap: 1rem;
    }
    .peso{
        width: 100%;
        rotate:320deg;
    }
    section.home{
        margin: 12rem auto;
        padding: 0 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .home-links{
        margin-top: -150px;
    }
}

main.cards{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
main.cards section.container-card{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    width: 300px;
    max-height: 300px;
    margin-left: 30px;
    border: 2px solid #8876ea80;
    animation: BorderColors 5s ease infinite;
    border-radius: 20px 0px;
}
main.cards section.container-card:first-child{
    margin-left: 0;
}
@keyframes BorderColors{
    0%{
        border: 2px solid #8876ea;
    }
    100%{
        border: 2px solid #8876ea80;
    }
}
.card-img-academy img{
    width: 280px;
    border-radius: 20px 0px;
    height: auto;
}
.container-card  h1{
    color: white;
    margin-top: 10px;
    font-size: 17px;
    font-family: 'poppins';
}
@media(max-width:965px){
    main.cards section.container-card{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 1rem 1rem;
        width: 200px;
        max-height: 300px;
        margin-left: 30px;
        border: 2px solid #8876ea80;
        animation: BorderColors 5s ease infinite;
        border-radius: 20px 0px;
    }
    .card-img-academy img{
        width: 180px;
        border-radius: 20px 0px;
        height: auto;
    }
}
@media(max-width:670px){
    main.cards{
        flex-direction: column;
        margin: 2rem;
    }
    main.cards section.container-card{
        margin-left: 0px;
        margin-bottom: 32px;
        width: 300px;
    }
    .card-img-academy img{
        width: 280px;
        border-radius: 20px 0px;
        height: auto;
    }
}


.promo{
    margin: 15rem auto;
    padding: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.promoSpan{
    font-size: 45vw;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    line-height: 106px;
    margin-top: -60px;
    font-family: 'poppins';
    color: #000;
    text-shadow: -1px -1px 0 #fff,
     -1px 1px 0 #fff,
      1px -1px 0 #fff,
      1px 0 0 #fff ;
}
.promo .promoh{
    position: absolute;
    overflow: hidden;
}
.promoh{
    font-size: 60px;
    margin-top: -50px;
    font-family: 'poppins';
    color: #8876ea;
}
@media(min-width:1000px) and (max-width:1500px){
    .promoSpan{
        font-size: 25vw;
    }
}
@media(max-width:431px){
    .promoh{
        font-size: 13vw;
    }
}
.slide-container{
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    width: 900px;
    height: 60vh;
    max-width: 800px;
    width: 100%;
}
.slide-container .slider{
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    width: 500%;
    height: 100%;
    float: left;
    animation: anima 10s linear infinite ;
}
.slide-container .slider .slide{
    position: relative;
    width: 20%;
    height: 100%;
    float:left;
}
.slide-container .slider .slide .captura{
    position: absolute;
    bottom: 60px;
    left: 60px;
    right: 60px;
    padding: 30px;
    box-sizing: border-box;
    transition: .5s;
}

.slide-container .slider .slide  {
    display: flex;
    color: white;
    transition: 0.5s;
    background: transparent;
    border: 0;
    text-transform: uppercase;
    font-family: 'poppins';
    font-style: oblique;
}
.slide-container .slider .slide.slide1{
    background:url(https://truee.com.br/wp-content/uploads/2023/01/triplique-seus-lucros-com-gerente-de-redes-sociais-da-sua-academia.png);
    background-size: cover;
    background-position: center;
}
.slide-container .slider .slide.slide2{
    background:url(https://academiabomfit.com.br/wp-content/uploads/2015/10/foto-academia.png);
    background-size: cover;
    background-position: center;
}
.slide-container .slider .slide.slide3{
    background:url(https://cglimpeza.com.br/wp-content/uploads/2019/02/2019-03-16-limpeza-de-academia-800x415.jpg);
    border-radius: 20px 0px;
    background-size: cover;
    background-position: center;
}
@keyframes anima{
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;

    }
}
footer{
    text-align: center;
    align-items: center;
    margin: 6rem;
}
.links-footer{
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 2rem;
}
.links-footer a{
    text-decoration: none;
    font-family: 'poppins';
}
.links-footer a:hover{
    text-decoration: underline;
    color: azure;
}
.marcad{
    color: darkgrey;
    font-size: 13px;
    font-family: 'poppins';
}
.zap{

    padding: 1rem 1.2rem;
    border-radius: 50% 50%;
    color: white;
    position: relative;
}
.zap i:hover{
   color: greenyellow;
}
.zap::after{
    content: " ";
    position: absolute;
    background: transparent;
    width: 18px;
    padding: 1rem 1rem;
    border-radius: 50% 50%;
    height: 18px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border:  2px solid white;
    animation: pulse 1s ease infinite;
}
.zap:hover::after{
    border:  2px solid green;
    animation: pulse 1s ease infinite;
}
@keyframes pulse{
    0%{
        border:  2px solid green;
    }
    75%{
        border:  2px solid greenyellow;
    }
    100%{
        border:  2px solid green;
    }
}
@media(max-width:455px){
    .slide-container{
        margin-top: -100px;
    }
    .promo{
        margin-top: 150px;
    }
}
.inicioVolta{
    text-align: right;
    right: 0;
    position: absolute;
    margin-right: 20px;
    font-family: 'poppins';
    cursor: pointer;
    text-decoration: none;
}
.inicioVolta:hover{
    color: #e8e6f3;
    transition: .5s;
}
.inicioVolta i{
    rotate: 179deg;
}